<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ProductoresConnectionString" connectionString="Data Source=jrodriguez;Initial Catalog=Productores;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    
    
    <httpRuntime targetFramework="4.5" />


  </system.web>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAgroMarketService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50629/AgroMarketService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgroMarketService"
        contract="WebServicesProductores.IAgroMarketService" name="BasicHttpBinding_IAgroMarketService" />
    </client>
  </system.serviceModel>
</configuration>